<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-car icon-gradient bg-mean-fruit"></i>
                </div>
                <div>
                    Product Category
                    <div class="page-title-subheading">
                        This is an example dashboard created using build-in elements and components.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a routerLink="add" type="button" class="btn-shadow mr-3 btn btn-dark"> <i class="fa fa-plus"></i> </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    Product Category
                </div>
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover" >
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Category Name</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of productCategories">
                                <td class="text-center text-muted"># {{ category.id }}</td>
                                <td class="text-center">{{ category.categoryName }}</td>
                                <td class="text-center">{{ category.description }}</td>
                                <td class="text-center">
                                    <a type="button" [routerLink]="['edit', category.id]" class="btn btn-primary mx-2 btn-sm">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteProductCategory(category.id)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-block text-center card-footer">
                    <!-- <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger">
                        <i class="pe-7s-trash btn-icon-wrapper"> </i>
                    </button>
                    <button class="btn-wide btn btn-success">Save</button> -->
                </div>
            </div>
        </div>
    </div>
</div>